<%= form_for([@list,@task]) do |f| %>
  <%= f.hidden_field :list_id %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= task.description %>
  </div>
  <div class="field">
    <%= check_box_tag(:status) %>
  </div>
  <div class="actions">
    <%= link_to "delete", list_task_path(list, task),
                  :confirm => "Are you sure you want to delete this task?", :method => :delete %>
  </div>

<% end %>
